@{
    ViewData["Title"] = "Itinerary";
}

<div class="itinerary">
    <div class="how_many_pass_con">
        <p>How many passenger</p>

        <!-- PASSENGER POP UP -->
        <div class="passenger_popUp" id="passengerPopUp">
            <div class="passenger_popUp_top">   
                <p><span>How many passenger</span></p> 
                <div class="passenger_input">
                    <div class="pass_icon">
                        <img src="~/icons/user.svg" alt="user">
                    </div>
                    <p><span class="noOfPassenger">1</span> Passenger</p>
                </div>
            </div>

            <div class="passenger_counter_con">
                <div class="passenger_con">
                    <div class="passenger_category">
                        <p><span>Adults</span></p>
                        <p>12 Years and Above</p>
                    </div>

                    <div class="counter_con">
                        <div class="subtract" id="subAdult">
                            <img src="~/icons/subtract.svg" alt="subtract">
                        </div>

                        <span id="noOfAdults">1</span>

                        <div class="add" id="addAdult">
                            <img src="~/icons/add.svg" alt="add">
                        </div>
                    </div>
                </div>

                <div class="passenger_con">
                    <div class="passenger_category">
                        <p><span>Children</span></p>
                        <p>Below 11 Years</p>
                    </div>

                    <div class="counter_con">
                        <div class="subtract" id="subChild">
                            <img src="~/icons/subtract.svg" alt="subtract">
                        </div>

                        <span id="noOfChild">0</span>

                        <div class="add" id="addChild">
                            <img src="~/icons/add.svg" alt="add">
                        </div>
                    </div>
                </div>

                <div class="passenger_con">
                    <div class="passenger_category">
                        <p><span>Seniors</span></p>
                        <p>65 Above - 20% discount</p>
                    </div>

                    <div class="counter_con">
                        <div class="subtract" id="subSenior">
                            <img src="~/icons/subtract.svg" alt="subtract">
                        </div>

                        <span id="noOfSenior">0</span>

                        <div class="add" id="addSenior">
                            <img src="~/icons/add.svg" alt="add">
                        </div>
                    </div>
                </div>
            </div>

            <div class="passenger_popUp_btn_con">
                <button id="passengerPopUpDoneBtn">Done</button>
            </div>
        </div>

        <div class="passenger_input inputTag" id="passengerInput">
            <div class="pass_icon">
                <img src="~/icons/user.svg" alt="user">
            </div>
            <p> <span class="noOfPassenger">1</span>  Passenger</p>
        </div>
    </div>

    <div class="itinerary_trip_info">
        <div class="itinerary_trip_info_top">
            <p>@ViewBag.TripJson.TripDate.ToString("ddd, MMM d")</p>
            <div class="itinerary_trip_info_date">
                <div class="itinerary_trip_departure">
                    <p>@ViewBag.TripJson.DepartureTime.ToString("h:mm tt")</p>
                    <p>PITX</p>
                </div>

                <div class="itinerary_trip_time">
                    <div class="itinerary_bus_icon">
                        <img src="~/icons/bus.svg" alt="busIcon">
                    </div>
                    <p>@($"{ViewBag.TripJson.TotalTripTime.Hours}h {ViewBag.TripJson.TotalTripTime.Minutes}min") Bus ride with @ViewBag.TripJson.Operator in @ViewBag.TripJson.Type</p>
                </div>

                <div class="itinerary_trip_destination">
                    <p>@ViewBag.TripJson.ArrivalTime.ToString("h:mm tt")</p>
                    <p>@ViewBag.TripJson.Destination</p>
                </div>
            </div>
        </div>
        <p class="itinerary_arrival_time">Arrives on @ViewBag.TripJson.ArrivalTime.ToString("ddd, MMM d"). Travel Time @($"{ViewBag.TripJson.TotalTripTime.Hours}h {ViewBag.TripJson.TotalTripTime.Minutes}min")</p>
    </div>

    <div class="itinerary_bus_info">
        <div class="itinerary_bus_img_con">
            <div class="bus_logo_con">
                <div class="itinerary_bus_logo">
                    <img src="@ViewBag.TripJson.BusLogo" alt="busLogo">
                </div> 
                <p>@ViewBag.TripJson.Operator</p>
            </div>

            <div class="itinerary_bus_pic_con">    
                <div class="busPic" id="busInside">
                    <img src="@ViewBag.TripJson.ImgInside" alt="insideBus">
                </div>

                <div class="busPic" id="busOutside">
                    <img src="@ViewBag.TripJson.ImgOutside" alt="bus">
                </div>
            </div>
        </div>

        <div class="itinerary_bus_provides_con">
            <p>Provides</p>
            <div class="bus_provides_con">
                <div>
                    <div class="aircon_icon">
                        <img src="~/icons/airConditioning.svg" alt="airConditioning">
                    </div>
                    <p>Airconditioning</p>
                </div>

                <div>
                    <div class="tv_icon">
                        <img src="~/icons/tv.svg" alt="tv">
                    </div>
                    <p>Television</p>
                </div>

                <div>
                    <div class="restroom_icon">
                        <img src="~/icons/restroom.svg" alt="restroom">
                    </div>
                    <p>Restroom</p>
                </div>
            </div>
        </div>
    </div>

    <div class="itinerary_important_rem_con">
        <p><span>Important Reminders:</span></p>
        <div class="important_rem_con">
            <p>No Refund, No Cancellation</p>
            <p>Arrive at least 30 minutes, before your scheduled time</p>
        </div>
    </div>
</div>

<div class="booking_bot">
    <div class="total_con" id="totalCon">
        <div class="total">
            <p><span>Total</span></p>
            <p>₱<span id="totalPrice"></span></p>
        </div>

        <div class="subtotal">    
            <div class="insurance">
                <p>Insurance</p>
                <p>₱148</p>
            </div>

            <div class="taxes_and_fees">
                <p>Taxes and fees</p>
                <p>₱6</p>
            </div>
        </div>
    </div>

    <div class="booking_btn_con" id="bookingBtnCon">
        <button id="nextBtn">Next</button>
    </div>
</div>

<div id="bookingData" data-trip='@Html.Raw(Json.Serialize(ViewBag.TripJson))'></div>
<div id="insuranceData" data-trip='@Html.Raw(Json.Serialize(ViewBag.InsuranceJson))'></div>

@section PopUpCon {
    <!-- BUS PIC -->
    <div class="busPic_popUp inside" id="busPicInsidePopUp">
        <img src="@ViewBag.TripJson.ImgInside" alt="insideBus">
    </div>

    <div class="busPic_popUp outside" id="busPicOutsidePopUp">
        <img src="@ViewBag.TripJson.ImgOutside" alt="bus">
    </div>  
}
